image:
  # Replace <OWNER> with your GitHub username or org (lowercase)
  repository: ghcr.io/geoffo-dev/hello-world-public
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

containerPort: 8000
replicaCount: 1
